<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}" />
<body>
    <div class="container" th:object="${postSearchCondition}" >
    <hr class="my-1">
    <div class="py-5 text-center">
        <h3>게시글 목록</h3>
    </div>

    <form action="" th:action method="get">
        <div class="row">
            <div class="col-2">
                <select th:field="*{searchCode}" class="form-select">
                    <option th:each="searchCode : ${postSearchCodes}" th:value="${searchCode.name()}"
                            th:text="${searchCode.getLabel()}">FAST</option>
                </select>
            </div>
            <div class="col-8">
                <input type="text" th:field="*{searchString}" class="form-control">
            </div>
            <div class="col-2">
                <button class="w-100 btn btn-primary" type="submit">검색</button>
            </div>
        </div>
        <hr class="my-2">
        <div class="row justify-content-between">
            <div class="col-2">
                <select th:field="*{sortCode}" class="form-select">
                    <option th:each="sortCode : ${postSortCodes}" th:value="${sortCode.name()}"
                            th:text="${sortCode.getLabel()}">최신순</option>
                </select>
            </div>
            <div class="col-2">
                <button class="w-100 btn btn-dark"
                        th:onclick="|location.href='@{/posts/add}'|" type="button">
                    글쓰기
                </button>
            </div>
        </div>
    </form>
    <hr class="my-2">
    <table class="table">
        <tread>
        <tr>
            <th>게시글 ID</th>
            <th>등록 시간</th>
            <th>조회수</th>
            <th>제목</th>
            <th>작성자</th>
        </tr>
        </tread>
        <tbody>
        <tr th:each="post : ${postPreDtoList}">
            <td style="width: 100px;" th:text="${post.id}">게시글 ID</td>
            <td style="width: 170px;" th:text="${#temporals.format(post.createTime, 'yyyy-MM-dd HH:mm')}">등록 시간</td>
            <td style="width: 100px;"th:text="${post.viewCount}">조회수</td>
            <td style="width: 330px;">
                <a th:href="@{/posts/{id}(id=${post.id})} + '?' + ${queryString}"
                   th:text="${post.title}">제목</a>
            </td>
            <td style="width: 100px;" th:text="${post.name}">작성자</td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary"
                    th:onclick="|location.href='@{/posts(searchCode=*{searchCode}, searchString=*{searchString}, sortCode=*{sortCode}, page=${postSearchCondition.page - 1})}'|"
                    type="button" th:disabled="${previous} ? 'disabled'">
                이전
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-primary"
                    th:onclick="|location.href='@{/posts(searchCode=*{searchCode}, searchString=*{searchString}, sortCode=*{sortCode}, page=${postSearchCondition.page + 1})}'|"
                    type="button" th:disabled="${next} ? 'disabled'">
                다음
            </button>
        </div>
    </div>
    <hr class="my-3">
</div>
</body>
</html>