<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}" />
<body>

<div class="container" >
  <div th:object="${postViewDto}">
    <div class="py-5 text-center">
      <h2>
        <span th:text="*{title}">제목</span>
      </h2>
    </div>
    <div>
      <label for="id">게시글 ID</label>
      <input type="text" id="id" name="id" class="form-control" th:value="*{id}" readonly>
    </div>
    <div>
      <label for="viewCount">조회수</label>
      <input type="text" id="viewCount" name="viewCount" class="form-control" value="조회수" th:value="*{viewCount}" readonly>
    </div>
    <div>
      <label for="member">글쓴이</label>
      <input type="text" id="member" name="member" class="form-control" value="글쓴이" th:value="*{name}" readonly>
    </div>
    <div>
      <label for="createTime">날짜</label>
      <input type="text" id="createTime" name="createTime" class="form-control" value="등록 날짜" th:value="${#temporals.format(postViewDto.createTime, 'yyyy-MM-dd HH:mm')}" readonly>
    </div>
    <div>
      <label for="content">내용</label>
      <p><textarea id="content" th:cols="40" rows="20" class="form-control" th:value="*{content}" th:text="*{content}" readonly></textarea></p>
    </div>
    <hr class="my-2">
    <div class="text-start">
      <h4>
        <span>댓글</span>
      </h4>
    </div>
  </div>

  <div>
    <select style="width: 200px;" onchange="if(this.value) location.href=(this.value);" class="form-select" th:object="${postSearchCondition}">
      <option th:each="commentSortCode : ${commentSortCodes}"
              th:value="@{/posts/{id}(id=${postViewDto.id}, searchCode=*{searchCode}, searchString=*{searchString}, sortCode=*{sortCode}, page=*{page}, commentSortCode=${commentSortCode.code})}"
              th:text="${commentSortCode.displayName}"
              th:selected="${commentSortCode.code} == ${commentSearchCondition.commentSortCode}">FAST</option>
    </select>
  </div>
  <div th:object="${postViewDto}">
    <table class="table">
      <tread>
        <tr>
          <th>등록 시간</th>
          <th>작성자</th>
          <th>내용</th>
        </tr>
      </tread>
      <tbody>
      <tr th:each="commentViewDto : *{comments}">
        <td style="width: 110px;" th:text="${#temporals.format(commentViewDto.createTime, 'yyyy-MM-dd HH:mm')}">등록 시간</td>
        <td style="width: 90px;" th:text="${commentViewDto.name}">작성자</td>
        <td style="width: 560px;word-break: break-all;">
          <p th:text="${commentViewDto.content}">내용</p>
        </td>
        <div th:object="${postSearchCondition}">
          <span th:if="${commentViewDto.commentShow}">
            <td style="width: 40px;">
              <button class="w-100 btn btn-secondary btn-sm"
                      th:onclick="|location.href='@{/posts/{id}/comments/{commentId}/edit(id=${postViewDto.id}, commentId=${commentViewDto.id}, searchCode=*{searchCode}, searchString=*{searchString}, sortCode=*{sortCode}, page=*{page})}'|"
                      type="button">수정</button>
            </td>
            <td style="width: 40px;">
              <button class="w-100 btn btn-danger btn-sm"
                      th:onclick="|location.href='@{/posts/{id}/comments/{commentId}/delete(id=${postViewDto.id}, commentId=${commentViewDto.id}, searchCode=*{searchCode}, searchString=*{searchString}, sortCode=*{sortCode}, page=*{page})}'|"
                      type="button">삭제</button>
            </td>
          </span>
          <span th:unless="${commentViewDto.commentShow}">
            <td style="width: 20px;">
              <button class="w-100 btn btn-primary btn-sm"
                      th:onclick="|location.href='@{/posts/{id}/comments/{commentId}/sympathy(id=${postViewDto.id}, commentId=${commentViewDto.id}, searchCode=*{searchCode}, searchString=*{searchString}, sortCode=*{sortCode}, page=*{page})}'|"
                      type="button">공감</button>
            </td>
          </span>
        </div>
      </tr>
      </tbody>
    </table>
  </div>

    <div class="row" th:object="${postSearchCondition}">
      <div class="col">
        <button class="w-100 btn btn-primary btn-sm"
                th:onclick="|location.href='@{/posts/{id}(id=${postViewDto.id}, commentSortCode=${commentSearchCondition.commentSortCode}, commentPage=${commentSearchCondition.commentPage - 1}, searchCode=*{searchCode}, searchString=*{searchString}, sortCode=*{sortCode}, page=*{page})}'|"
                type="button" th:disabled="${previous} ? 'disabled'">
          이전
        </button>
      </div>
      <div class="col">
        <button class="w-100 btn btn-primary btn-sm"
                th:onclick="|location.href='@{/posts/{id}(id=${postViewDto.id}, commentSortCode=${commentSearchCondition.commentSortCode}, commentPage=${commentSearchCondition.commentPage + 1}, searchCode=*{searchCode}, searchString=*{searchString}, sortCode=*{sortCode}, page=*{page})}'|"
                type="button" th:disabled="${next} ? 'disabled'">
          다음
        </button>
      </div>
    </div>

  <div th:object="${postViewDto}">
    <hr class="my-3">
    <form action="" th:action="@{/posts/{postId}/comments(postId=*{id})}" method="post">
      <div class="row">
        <div class="col">
          <p><textarea cols="80" rows="5" name="commentContent" placeholder="내용을 입력하세요."></textarea></p>
          <span th:object="${postSearchCondition}">
            <input type="hidden" th:field="*{searchCode}">
            <input type="hidden" th:field="*{searchString}">
            <input type="hidden" th:field="*{sortCode}">
            <input type="hidden" th:field="*{page}">
          </span>

        </div>
        <div class="col">
          <button class="w-100 btn btn-primary btn-lg" type="submit">댓글 쓰기</button>
        </div>
      </div>
    </form>
    <hr class="my-2">
    <span th:unless="${show}">
      <div class="row" th:object="${postSearchCondition}">
        <div class="col">
          <button class="w-100 btn btn-primary btn-lg"
                  th:onclick="|location.href='@{/posts/{id}/edit(id=${postViewDto.id}, searchCode=*{searchCode}, searchString=*{searchString}, sortCode=*{sortCode}, page=*{page})}'|"
                  type="button">수정</button>
        </div>
        <div class="col">
          <button class="w-100 btn btn-danger btn-lg"
                  th:onclick="|location.href='@{/posts/{id}/delete(id=${postViewDto.id}, searchCode=*{searchCode}, searchString=*{searchString}, sortCode=*{sortCode}, page=*{page})}'|"
                  type="button">삭제</button>
        </div>
      </div>
      <hr class="my-2">
    </span>
  </div>
    <div class="col" th:object="${postSearchCondition}">
      <button class="w-100 btn btn-secondary btn-lg"
              onclick="location.href=history.back()"
              th:onclick="|location.href='@{/posts(searchCode=*{searchCode}, searchString=*{searchString}, sortCode=*{sortCode}, page=*{page})}'|"
              type="button">목록</button>
    </div>
  <hr class="my-2">
</div> <!-- /container -->
</body>
</html>