<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
         .container {
         max-width: 560px;
         }
 </style>
</head>
<body>
<div class="container" style="max-width: 560px">
    <div class="py-5 text-center">
        <h2>게시글 목록</h2>
    </div>

    <form action="" th:action th:object="${postSearchForm}" method="post">
        <div class="row">
            <div>
                <select th:field="*{searchCode}" class="form-select">
                    <option th:each="searchCode : ${searchCodes}" th:value="${searchCode.code}"
                            th:text="${searchCode.displayName}">FAST</option>
                </select>
            </div>
            <hr class="my-1">
            <div>
                <input type="text" id="searchString" th:field="*{searchString}" class="form-control">
            </div>
            <hr class="my-1">
            <div>
                <button class="w-100 btn btn-primary btn-lg" type="submit">검색</button>
            </div>
            <hr class="my-1">
            <div>
                <select th:field="*{sortCode}" class="form-select">
                    <option th:each="sortCode : ${sortCodes}" th:value="${sortCode.code}"
                            th:text="${sortCode.displayName}">최신순</option>
                </select>
            </div>
        </div>
    </form>
    <hr class="my-4">
    <table class="table">
        <tread>
        <tr>
            <th>게시글 ID</th>
            <th>등록 시간</th>
            <th>조회수</th>
            <th>제목</th>
            <th>작성자</th>
        </tr>
        </tread>
        <tbody>
        <tr th:each="post : ${postPreDtoList}">
            <td th:text="${post.id}">게시글 ID</td>
            <td th:text="${#temporals.format(post.createTime, 'yyyy-MM-dd HH:mm')}">등록 시간</td>
            <td th:text="${post.viewCount}">조회수</td>
            <td>
                <a th:href="@{/post/{id}(id=${post.id})}" th:text="${post.title}">제목</a>
            </td>
            <td th:text="${post.name}">작성자</td>
        </tr>
        </tbody>
    </table>
    <div class="col">
        <button class="w-100 btn btn-secondary btn-lg"
                onclick="location.href='items.html'"
                th:onclick="|location.href='@{/}'|"
                type="button">홈으로</button>
    </div>
</div>
</body>
</html>